<h1>Editar Finança</h1>

<%= render 'form', finance: @finance %>
<br>
<%= link_to 'Ver', @finance, class:"btn btn-outline-primary" %> 
<%= link_to 'Voltar', finances_path, class:"btn btn-outline-primary" %>
