<h1>Editar Finança</h1>

<%= render 'form', finance: @finance %>
<br>
<%= link_to t('links.show'), @finance, class:"btn btn-outline-primary" %> 
<%= link_to t('links.back'), finances_path, class:"btn btn-outline-primary" %>
