<div id="prin"><h1>Editar Perfil</h1>

<%= render 'form', information: @information %>

<%= link_to 'Ver', @information, class:"btn btn-info" %>
<%= link_to 'Voltar', information_index_path, class:"btn btn-info" %>
</div>