<div id="prin"><h1 class="display-4"><%= t('editing.profile') %></h1>

<%= render 'form', information: @information %>


<%= link_to t('links.back'), information_index_path, class:"btn btn-secondary btn-lg btn-block" %>
<br><br><br><br></div>