<div id="prin"><h1 class="display-4">Editar Perfil</h1>

<%= render 'form', information: @information %>

<%= link_to 'Ver', @information, class:"btn btn-primary btn-lg btn-block" %>
<%= link_to 'Voltar', information_index_path, class:"btn btn-secondary btn-lg btn-block" %>
<br><br><br><br></div>