<div id="prin">
    <h1 class="display-4">Perfil Síndico</h1>

<%= render 'form', information: @information %>
<%= link_to 'Voltar', information_index_path, class:"btn btn-info" %>
</div>
<br><br><br><br>