<div id="prin">
    <h1 class="display-4"><%= t('messages.sindico') %></h1>

<%= render 'form', information: @information %>
<%= link_to t('links.back'), information_index_path, class:"btn btn-info" %>
</div>
<br><br><br><br>