<head><link href="views/start/start.css.erl" rel="stylesheet"></head>
<body class="container" style="text-align:center;">

    <%= link_to image_tag("crabs.png", :alt => "logo", :class => "foo" ), "/"  %>

    <div style="color: #dc3c28; padding: 0 2% 1%"><h1>THE CRABS</h1></div>
    <h4 style="padding: 1.5%">Bem vindo ao seu app!</h4>
    <%= link_to 'Iniciar', login_useropc_path, class:"btn btn-info" %>
    <p style="padding:2%;">Para iniciar clique no link acima</p>
    </div>
</body>