<div class="jumbotron">
  <h1 class="display-4"><%= t('messages.predio') %></h1>
  <p class="lead">Nesta página você irá acrescentar o seu prédio:</p>
  <hr class="my-4">
  <p><%= t('messages.menu')%></p>
  <%= render "menu" %>
</div>
