<div class="jumbotron">
<h1 class="display-4">Edite o seu evento!</h1>
<br>
<%= render 'form', evento: @evento %>
<%= link_to 'Mostrar', @evento, class:"btn btn-dark"%> 
<%= link_to 'Voltar', eventos_path, class:"btn btn-secondary"%>
</div>
 