<div class="jumbotron">
    <h1 class="display-4">Novo Evento!</h1>
    <p class="lead">Crie um  novo evento no calendário</p>
    <p><%= render 'form', evento: @evento %> 
    <%= link_to 'Voltar', eventos_path, class:"btn btn-secondary"%></p>
</div>