<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Arquivos Anexados</h3>
  </div>
  <div>
    <table>
    	<thead>
    		<tr>
    			<th>Id</th>
    			<th>Diretório</th>
    		</tr>
    	</thead>
    	<tbody>
    		<% @arquivos.each do |arquivo| %>
	    		<tr>
	    			<td><%= arquivo.id %></td>
	    			<td><%= arquivo.diretorio_arquivo %></td>
	    			<td><%= button_to 'Baixar', { action: :download_arquivo, diretorio: arquivo.diretorio_arquivo }, class: 'btn btn-primary' %></td>
	    		</tr>
	    	<% end %>
    	</tbody>
    </table>
  </div>
</div>
<%= link_to t('back.voltar'), login_useropc_path, class:"btn btn-secondary btn-lg"%>