// Place all the styles related to the arquivos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/

.foo {
    width: 15%;
    padding: 0;
    margin-right: auto;
    margin-right: auto;
}

h1 .iconMjolnir {
    width: 5%;
    padding: 0;
    margin-right: auto;
    margin-right: auto;
}

body{
font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;}