// Place all the styles related to the Information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#bac{ 
    background-color: #255;
        padding: 3%;
        color: #fff;
}

#prin {
     background-color: #ccc;
    // color: #fff;
    padding:3%;
}

#tab {
    background-color: #255;
    color: #fff;
    padding:3%;
}*/

.but {
    color:#fff;
    text-decoration: none;
}


body{
font-family: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;}