// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foo {
    width: 15%;
    padding: 0;
    margin-right: auto;
    margin-right: auto;
}

.dec ul li{
    text-decoration: none;
.dec{
    margin-right: auto;
    margin-left: auto;
}

.dec ul{
    text-decoration: none;
    list-style-type:none;
    
}
