// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foo {
    width: 15%;
    padding: 0;
    margin-right: auto;
    margin-right: auto;
}


.bntStart {
    padding: 15%;
    background-color: orange;
    color: #000;
}