// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.principal {
    background-color:black;
    float:right; margin-right:auto;
    margin-left:auto;
}